<section>
  <div class="page-header left">
    <div class="row">
      <div class="col-md-4">
        <h1>Proveedores</h1>
      </div>
    </div>
  </div>

  <table ng-table="tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">
    <tr data-ng-repeat="provider in $data">
      <td data-title="'Nombre Fantasía'" filter="{ nombre_fantasia: 'text' }" sortable="'nombre_fantasia'">{{provider.nombre_fantasia}}</td>
      <td data-title="'CUIT'" filter="{ cuit: 'text' }">{{provider.cuit}}</td>
      <td data-title="'Teléfono'">{{provider.telefono}}</td>
      <td data-title="'Contacto'">{{provider.contacto}}</td>
      <td data-title="'Estado'" filter="{ id_status: 'select' }" filter-data="states">{{provider.status_name}}</td>
      <td>
        <div class="table-actions">
         <div class="table-actions">
           <a class="btn btn-primary" title="Ver" data-ui-sref="providers.view({ id_provider: provider.id_provider })">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <a class="btn btn-primary" title="Editar" data-ui-sref="providers.edit({ id_provider: provider.id_provider })">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a class="btn btn-danger" title="Baja" data-ng-click="remove(provider)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <a class="btn btn-primary" data-ui-sref="providers.create">Agregar Proveedor</a>
  </div>
</section>
