<section>
  <div class="page-header left">
    <div class="row">
      <div class="col-md-4">
        <h1>Marcas</h1>
      </div>
    </div>
  </div>

  <table ng-table="tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">
    <tr data-ng-repeat="brand in $data">
      <td data-title="'Nombre'" filter="{ brand_name: 'text' }" sortable="'id_brand'">{{brand.name}}</td>
      <td data-title="'Estado'" filter="{ id_status: 'select' }" filter-data="states">{{brand.status_name}}</td>
      <td data-title="'Creado'" sortable="'brand_created'">{{brand.created | date:'dd/MM/yyyy'}}</td>
      <td>
        <div class="table-actions">
         <div class="table-actions">
           <a class="btn btn-default" title="Ver" data-ui-sref="brands.view({ brandId: brand.id_brand })">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <a class="btn btn-default" title="Editar" data-ui-sref="brands.edit({ brandId: brand.id_brand })">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a class="btn btn-danger" title="Baja" data-ng-click="remove(brand)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </td>
    </tr>
  </table>
  <div class="text-center">
    <a class="btn btn-primary" data-ui-sref="brands.create">Crear Marca</a>
  </div>
</section>