<section>
  <div class="page-header left">
    <div class="row">
      <div class="col-md-4">
        <h1>Órdenes de Compra</h1>
      </div>
    </div>
  </div>
    <!-- Select de Localidades -->
  <div class="input-group col-md-4">
    <span class="input-group-addon">Zona</span>
    <select id="zones" name="zones" class="form-control" ng-options="option.id_zone as option.full_zone_name for option in zoneOptions"  ng-model="zone" ng-change="changeZone()" required>
    </select>
  </div>
  <div class="input-group col-md-4">
    <button class="btn btn-primary" title="Agregar OC" ng-click="addPurchaseOrder()">
      <span class="fa fa-plus">Agregar OC</span>
    </button>
  </div>
  </br>
  <div class="table-responsive">
    <table ng-table="vm.tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">
      <tr data-ng-repeat="purchase_order in $data">
        <td data-title="'Número'" filter="{ number: 'number' }" sortable="'purchase_number'">{{purchase_order.number}}</td>
        <td data-title="'Estado'" filter="{ id_status: 'select' }" filter-data="states">{{purchase_order.status_name}}</td>
        <td data-title="'Creado'" sortable="'purchase_created'">{{purchase_order.created | date:'dd/MM/yyyy'}}</td>
        <td>
           <div class="table-actions">
             <a class="btn btn-primary" title="Cargar Datos" data-ui-sref="articles_purchases.load({ purchaseOrderId: purchase_order.id_purchase_order })">
              <span class="glyphicon glyphicon-eye-open"></span>
              </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>
