<section>
  <div class="page-header left">
    <div class="row">
      <div class="col-md-4">
        <h1>Cta. Cte. Usuarios</h1>
      </div>
    </div>
  </div>

  <table ng-table="tableParams" class="table table-bordered table-striped table-condensed" show-filter="true">
    <tr data-ng-repeat="user in $data">
      <td data-title="'Usuario'" filter="{ user_name: 'text' }" sortable="'user_name'">{{user.user_name}}</td>
      <td data-title="'Total'">{{ user.total | currency:'$' }}</td>
      <td>
        <div class="table-actions">
         <div class="table-actions">
           <a class="btn btn-primary" title="Ver" data-ui-sref="users_debts.view({ id_user: user.id_user })">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
        </div>
      </td>
    </tr>
  </table>
</section>
